@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700;900&display=swap');

body {
  box-sizing: border-box !important;
  margin: 0;
  padding:0;
  font-family: 'Nunito', sans-serif;
  background-color: rgba(0, 0, 0, 0.92);
  color: white;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0e0e0e; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1b3a8b; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #090909; 
}