nav .nav-link,
nav i {
    color: #fff;
    font-size: 1.2rem;
    font-weight: normal;
    transition: 0.3s;
}

nav .nav-link li {
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
    transition: 0.3s;
}

nav .nav-link:hover,
nav i:hover,
nav .nav-link.active {
    color: #1744e1 !important;
    font-weight: bold;
}

nav .nav-link:hover li{
    color: #342528 !important;
    background-color: #5252524b !important;
}

@media screen and (min-width: 901px) {
    nav .nav-link:hover,
    nav i:hover,
    nav .nav-link.active {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
}

nav .nav-link li:hover,
nav .nav-link.active li {
    color: #1744e1 !important;
    font-weight: bolder;
}

nav .nav-link:focus,
nav .nav-link li:focus {
    color: white;
}